/.idea

/angie/installation/platform
/angie/installation/angie/platform
/angie/installation/extrainfo.ini
/angie/installation/log.txt
/angie/installation/password.php
/angie/installation/README.html
/angie/installation/sql/*.s*
/angie/installation/sql/*.ini
/angie/installation/*.dat
/angie/installation/tmp/*.dat
/angie/installation/version.php
/angie/angie.ini

/experiment

link_angie_site_davide.sh

/angie/installation/angie/language/en-GB.ini
/angie/platforms/*/language/en-GB.ini

/release/zip/**
/release/jpa/**